.container {
  background-color: #fff;
  border-top-right-radius: 70;
  padding: 20;
}

.header-image {
  background-image: url('~/app/assets/images/run.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.activity-card {
  background-image: url('~/app/assets/images/run.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150;
  width: 150;
  border-radius: 10;
  vertical-align: center;
  horizontal-align: center;
}

.activity-card > Label {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #5F20D3;
}
