.header {
  background-image: url('~/app/assets/images/header.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-right-radius: 70;
  padding: 0 30;
}

.lbl-name {
  color: #fff;
  font-size: 25;
  vertical-align: bottom;
}

.lbl-id {
  color: #fff;
  font-size: 15;
  opacity: 0.6;
  vertical-align: top;
}

.img-profile {
  height: 80;
  width: 80;
  border-radius: 40;
  vertical-align: middle;
}

.day-selector > Label {
  color: #fff;
  text-align: center;
  font-size: 15;
  margin-bottom: 10;
}

.day-selector > Image {
  height: 10;
  vertical-align: bottom;
  margin-bottom: -2;
}

.body {
  padding: 20;
}

.content-card {
  border-radius: 10;
  padding: 10;
  background-color: #ddd;
  margin: 5 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150;
}

.content-card.activity {
  background-image: url('~/app/assets/images/run.png');
}

.content-card.diet {
  background-image: url('~/app/assets/images/diet.png');
}

.content-card.medication {
  background-image: url('~/app/assets/images/med.png');
}

.content-card > Label {
  color: #5F20D3;
  font-size: 20;
  vertical-align: top;
}
